<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Quicken - @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true">

</head>

<body class="@ViewData["PageClass"]">
    <partial name="_TopBarNav" />
    <main>
        <div class="container-fluid px-5">
            <div class="row">
                <partial name="_Leftnav.cshtml" />
                <div class="col-12 col-lg-7 col-xl-6 right-col">
                    @RenderBody()
                    <footer>
                        <span>Questions?</span> Email <a href="mailto:CCOEProcessBizGen@rocketmortgage.com">CCOEProcessBizGen@RocketMortgage.com</a>
                    </footer>
                </div>
                <div class="col-12 col-lg-4 col-xl-2 right-side fixed-lg d-none d-lg-block">
                    <nav class="inline-nav scroll-spy">
                        <ul>
                            <li class="inline-nav__link">
                                <a href="#section-1">Legal Copy Guidelines</a>
                            </li>
                            <li class="inline-nav__link">
                                <a href="#section-2">Order Of Disclaimers And Disclosures</a>
                                <ul>
                                    <li class="inline-nav__link">
                                        <a href="#section-2a">Style Notes</a>
                                    </li>
                                    <li class="inline-nav__link">
                                        <a href="#section-2b">Test Inner Section</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="inline-nav__link">
                                <a href="#section-3">Multi-State Examination</a>
                            </li>
                            <li class="inline-nav__link">
                                <a href="#section-4">Direct Mail Advertising</a>
                            </li>
                            <li class="inline-nav__link">
                                <a href="#section-5">Mortgage Banking / Banker Scripts</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra long link to test word wrapping</a>
                                <ul>
                                    <li class="inline-nav__link">
                                        <a href="#nogo">Extra long child link to test wrapping</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Extra link</a>
                            </li>
                            <li>
                                <a href="#nogo">Last link</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </main>
    <script src="js/jquery.js"></script>
    <script src="js/clipboard.min.js" defer></script>
    <script src="js/bootstrap.bundle.min.js" defer></script>
    <script src="js/main.js" defe asp-append-version="true"></script>
</body>
</html>