@page
@model Quicken.Pages.DocumentDetailModel
@{
    Layout = "~/Pages/Shared/_ThreeColumnLayout.cshtml";
    ViewData["Title"] = "Home page";
    ViewData["PageClass"] = "with-right-side";
}

<section>
    <div id="section-1" class="page-header">
        <h1>Legal Copy Guidelines</h1>
    </div>
    <div class="content-owner-date">
        <p><b>Content Owner</b>: Legal Marketing Compliance</p>
        <p><b>Last Modified</b>: December 13, 2021, at 11:47 a.m. ET</p>
        <p><i>This page explains how we use disclaimers, disclosures, and trademark, registered mark and service mark symbols.</i></p>
    </div>
    <h2>Disclaimer Indicators</h2>
    <h3>Using Numerals</h3>
    <p>Use numerals to show disclaimers in footnotes and endnotes. The first item that's disclaimed within the creative should be indicated with a 1, and each subsequent item should be marked with the next consecutive numeral in order of appearance.</p>
    <p>If multiple pieces of creative, such as display ads, are driving to the same webpage, then the indicator(s) on the creative should be determined by what's on the webpage. For example, if a disclaimer on a landing page is marked with a 3, then the display ad that's driving to that landing page should use a 3 as well – even if there are no other claims on that display ad.</p>
    <p>Keep in mind that disclosures, such as our <a href="https://brandcentral-dss.rhicms.com/quicken-loans/search-results/component-search-results.htm?xid=x171">National Licensing Disclosure</a> and <a href="https://brandcentral-dss.rhicms.com/quicken-loans/search-results/component-search-results.htm?xid=x1011">Copyright Statement</a>, don't need any indicators since they're not tied to a specific item within the creative.</p>
    <p>Our old system of indicating disclaimers, which included asterisks, daggers and other symbols, is outdated and shouldn't be used. As of July 18, 2018, all new creative should use numerals to indicate disclaimers.&nbsp;<strong>The only acceptable exception</strong> is the use of the dagger (†) as an indicator of a disclaimer in promotional copy on Rocket Mortgage.com that typically appears in a banner. Examples include flash sales, Cyber Monday, special pricing promos, etc.</p>
    <h3>Placement</h3>
    <p>Avoid putting indicators in logos, headlines and other prominent places; instead, try to keep disclaimer indicators within the body copy of the creative.</p>
    <p>In copy, place the indicator outside of punctuation.</p>
    <p>In footnotes or endnotes, begin each disclaimer with its corresponding indicator. Don't include a space between the footnote indicator and the disclaimer.</p>
    <h3>Typography</h3>
    <p>The indicator should be superscript both within the body copy and within the footnote or endnote.</p>
    <p>The indicator should use the same font and weight as the body copy. If the indicator must be placed within a headline or a logo, use a font from nearby body copy if possible. The indicator must be legible, but it should also be as unobtrusive as possible. &nbsp;</p>
    <p>*For Direct Mail, all font must be 10-point or larger.*</p>
</section>
<section>
    <h2 id="section-2">Order Of Disclaimers And Disclosures</h2>
    <p>When the content has multiple <a href="https://brandcentral.bmfoc.zone/quicken-loans/legal/disclaimer-library.htm">disclaimers and disclosures</a>, stack them in this order:</p>
    <ol>
        <li>Disclaimers or disclosures about the specific loan product or thing we're advertising</li>
        <li>J.D. Power disclaimer, if needed</li>
        <li>Any opt-out disclosures</li>
        <li>The National Licensing Disclosure, if needed</li>
        <li>Copyright for single-line address (add an email only)</li>
    </ol>
    <h2>Trademarks, Service Marks, Registered Symbols And Copyright Symbols</h2>
    <p>The symbols let others know that we're claiming exclusivity and trademark protection, so putting the marks and symbols in prominent places is key to protecting our brand.</p>
    <p><strong>In general, place the mark or symbol on first reference of the term in the copy of the creative.</strong> If the term is in the headline, include the mark or symbol in the headline as the first reference. This guidance is for copy mentions only. We do not use marks or symbols on logos, intentionally.</p>
    <p><em>Ex. With a Rocket Mortgage<sup>®</sup>&nbsp;refi, you could save on your monthly payment. Sign in to Rocket Mortgage to get started.</em></p>
    <h2 id="section-2a">Style Notes</h2>
    <p>Place trademarks, service marks and registered symbols before end punctuation and/or end quotation marks.&nbsp;</p>
    <p><em>Ex. Get started with Rocket Mortgage<sup>®</sup>.</em></p>
    <p>Place copyright symbols directly before the terms they're referring to; don't include a space after the symbol.</p>
    <p><em>Ex. ©2000 - 2021 Rocket Mortgage, LLC.</em></p>
    <p><strong>Why did we move away from placing the mark or symbol on each use of the term in the copy?</strong></p>
    <p>With multiple marks and symbols dotting creative, the content became difficult to read and digest for clients and served more as a distraction. By only using marks and symbols on the first reference of the term, we provide clean and streamlined content and design, and it doesn't impact our ability to defend our use of the marks.</p>
    <p><strong>How does this apply to Rocket Homes? Right now, we use “Rocket Homes Real Estate LLC” on first reference and “Rocket Homes<sup>®</sup>” on all subsequent references. Would it be “Rocket Homes Real Estate LLC” on first reference, “Rocket Homes<sup>®</sup>” on second reference and “Rocket Homes” alone on all subsequent references?</strong></p>
    <p>Yes, Rocket Homes Real Estate LLC should still be used on first instance and then this rule would follow for each instance after. The first Rocket Homes should have an r-ball.</p>
    <h2>Marketing Compliance Primer</h2>
    <p>For more information on legal items like Direct Mail, Regulation Z Basic Rules (12 CFR 1026, Truth in Lending Act) and&nbsp;Unfair, Deceptive, Abusive Acts and Practices (UDAAP), check out the&nbsp;<a href="https://rockfin.sharepoint.com/:b:/r/sites/QLMarketingTeam/Shared%20Documents/Legal%20Compliance/Resources/Quicken%20Loans%20Marketing%20Compliance%20Primer.pdf?csf=1&amp;web=1&amp;e=DTHVl5" target="_blank" rel="noopener">All-In-One Marketing Compliance Primer</a> on Teams.&nbsp;</p>
    <h2 id="section-2b">Test Inner Section</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel dicta, maxime omnis aut, doloremque ratione magni earum voluptatibus quam odio a quisquam.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi neque ex quos in est optio aperiam voluptatum odio, iste eius explicabo illo corporis minima, commodi cupiditate vel itaque delectus enim! Consectetur, maxime.</p>
</section>
<section id="section-3">
    <h2>Multi-State Examination</h2>
    <h3>Compliance Takeaways</h3>
    <h3>1.General Advertising</h3>
    <ol style="list-style-type: upper-alpha;">
        <li>All claims must be substantiated (regardless of in advertisements, banker scripts, or banker training videos) must be substantiated prior to going live.</li>
        <li>Any superscript, daggar, or other type of reference marks must be no smaller than two font sixes smaller than the substantive text.</li>
        <li>Always assume debt-to-income (DTI) at 43% for all calculations.</li>
        <li>Advertisements where products advertised are impacted by a consumer’s DTI the maximum price adjustment for DTI must be applied to the advertised loan terms.</li>
        <li>ARMs must not be advertised as our lowest rate; ARMs must be described as a “low introductory rate.”</li>
        <li>When advertising an interest rate, APR must always immediately follow AND be displayed with equal or greater prominence.</li>
        <li>
            When an advertised interest rate is discounted, the advertisement must clearly and conspicuously disclose the cost of the discount points as a dollar amount.
            <ol style="list-style-type: lower-alpha;">
                <li><em><strong>Applies To:</strong></em> Any advertisements where interest rates are discounted.</li>
            </ol>
        </li>
        <li>
            Disclosures of points must also note that they are “paid at closing”
            <ol style="list-style-type: lower-alpha;">
                <li><em><strong>Example:</strong> </em>You could finance a $200,000 loan at a fixed interest rate of __% (__% APR) for the cost of 1 point ($2,000) paid at closing.</li>
                <li><em><strong>Applies To:</strong></em> Any advertisements that include points.</li>
            </ol>
        </li>
        <li>
            Disclosures of trigger terms may appear on the back of advertisements, but must appear in the same font, size, and shade as the advertising content or terms triggering the disclosure. If the disclosure is on a social media asset or website, the disclosures must be in close proximity to and prominently displayed; if leveraging the “one-click-away” exception the links must be equally displayed and labeled as “Legal Disclosures.”
            <ol style="list-style-type: lower-alpha;">
                <li>Link must be the same font and size, however may be distinguished as a hyperlink with an alternate shade</li>
                <li>Link must drop into the page exactly where the disclosure terms start. The consumer should not have to scroll to find the terms.</li>
                <li><strong><em>Applies To:</em></strong> Any advertisements containing trigger terms, especially direct mail.</li>
            </ol>
        </li>
        <li>
            Advertisements with a ‘New Monthly Payment’ that is calculated without prepaids (taxes, insurance, or escrow) must include a disclosure directly above, below or next to the new monthly payment OR a conspicuous hyperlink one-click-away within such proximity, that links directly to the required disclosure.
            <ol style="list-style-type: lower-alpha;">
                <li><em><strong>Applies To:</strong></em> Any advertisement where ‘New Monthly Payment’ is provided.</li>
            </ol>
        </li>
    </ol>
</section>
<section id="section-4">
    <h3>2.Direct Mail Advertising</h3>
    <ol style="list-style-type: upper-alpha;">
        <li>Direct mail extending a firm offer of credit must state the consumer has been “Pre-Selected” for the advertised offer.&nbsp;</li>
        <li>Direct mail extending a firm offer of credit must leverage data that assumes gross monthly income is based on the minimum income that that would be eligible for the advertised loan amount.</li>
    </ol>
    <h3>3.Flash Sales</h3>
    <ol style="list-style-type: upper-alpha;">
        <li>
            Flash sales must only be redeemable by clients responding to the advertising
            <ol style="list-style-type: lower-alpha;">
                <li>Pricing for consumers responding to the advertisement compared to those who don’tmust be shown and reflected in order to substantiate.</li>
                <li><em><strong>Applies To:</strong> </em>All flash sales; company-wide pricing and discounts/sales must also undergo testing and monitoring of consumers receiving such pricing.</li>
            </ol>
        </li>
    </ol>
    <h3>4.Core Digital Media / LowerMyBills</h3>
    <ol style="list-style-type: upper-alpha;">
        <li>The LowerMyBills (LMB) landing pages must have the relevant disclosures on the page when a consumer is directed to the page and must appear above the footer fold.</li>
        <li>All LMB disclaimers and disclosures must be approved by the Rocket Mortgage Marketing Compliance team prior to go-live.</li>
    </ol>
</section>
<section id="section-5">
    <h3>5.Mortgage Banking / Banker Scripts</h3>
    <ol style="list-style-type: upper-alpha;">
        <li>Banker scripts must prompt a banker to quote APR whenever quoting an interest rate (see 1F above).</li>
        <li>
            Banker scripts must NOT include any claims below:
            <ol style="list-style-type: lower-alpha;">
                <li>Suggesting a client can “skip a payment” or “increase cash reserves through an escrow refund” by refinancing.</li>
                <li>Suggesting Rocket Mortgage gets wholesale pricing on its retail loans. Or reference to lower costs from RMs amount of volume.</li>
                <li>Suggesting VAL gives buyer the strength of a cash buyer or that it is the next best thing.</li>
                <li>Suggesting a VAL is a “full approval.”</li>
                <li>Using any absolutes like “best” “cheapest” “lowest.”</li>
            </ol>
        </li>
    </ol>
</section>
<section id="section-6">
    <h1>Level One Header</h1>
    <h2>Level Two Header</h2>
    <h3>Level Three Header</h3>
    <h4>Level Four Header</h4>
    <h5>Level Five Header</h5>
    <h6>Level Six Header</h6>
</section>