@page
@model IndexModel
@{
    Layout = "~/Pages/Shared/_TwoColumnLayout.cshtml";
    ViewData["Title"] = "Jump page";
    ViewData["PageClass"] = "theme-1";
}

<div class="two-column-wrapper">
    <ul>
        <li>
            <a asp-page="HomePage">Home Page</a>
        </li>
        <li>
            <a asp-page="LibraryPage">Library Page</a>
        </li>
        <li>
            <a asp-page="SearchResultsPage">Search Page</a>
        </li>
        <li>
            <a asp-page="DocumentDetail">Document Detail</a>
        </li>
    </ul>
</div>
