@page
@model Quicken.Pages.SearchResultsPageModel
@{
    Layout = "~/Pages/Shared/_TwoColumnLayout.cshtml";
    ViewData["Title"] = "Search Results";
    ViewData["PageClass"] = "theme-1";
}

<div class="filters">
    <div class="filters--option">
        <button>
            Brand
        </button>
        <div class="filters--dropdown">
            <div class="form-style-element">
                <label>
                    <input class="igx-checkbox" name="dropdown-1" type="checkbox" value="Quicken Loans" id="item1">
                    Quicken Loans
                </label>
            </div>
            <div class="form-style-element">
                <label>
                    <input class="igx-checkbox" name="dropdown-1" type="checkbox" value="Rocket Homes" id="item2">
                    Rocket Homes
                </label>
            </div>
            <div class="form-style-element">
                <label>
                    <input class="igx-checkbox" name="dropdown-1" type="checkbox" value="Rocket HQ" id="item3">
                    Rocket HQ
                </label>
            </div>
            <div class="form-style-element">
                <label>
                    <input class="igx-checkbox" name="dropdown-1" type="checkbox" value="Rocket Loans" id="item4">
                    Rocket Loans
                </label>
            </div>
            <div class="form-style-element">
                <label>
                    <input class="igx-checkbox" name="dropdown-1" type="checkbox" value="Rocket Mortgage" id="item5">
                    Rocket Mortgage
                </label>
            </div>
        </div>
    </div>
    <div class="filters--option">
        <button>
            Type
        </button>
        <div class="filters--dropdown">
            <div class="form-style-element">
                <label>
                    <input class="igx-checkbox" name="dropdown-2" type="checkbox" value="Claims" id="a-item1">
                    Claims
                </label>
            </div>
            <div class="form-style-element">
                <label>
                    <input class="igx-checkbox" name="dropdown-2" type="checkbox" value="Common Terms" id="a-item2">
                    Common Terms
                </label>
            </div>
            <div class="form-style-element">
                <label>
                    <input class="igx-checkbox" name="dropdown-2" type="checkbox" value="Disclaimers and Disclosures" id="a-item3">
                    Disclaimers and Disclosures
                </label>
            </div>
            <div class="form-style-element">
                <label>
                    <input class="igx-checkbox" name="dropdown-2" type="checkbox" value="Style Guidelines" id="a-item4">
                    Style Guidelines
                </label>
            </div>
        </div>
    </div>
    <div class="filters--option">
        <button type="reset" class="clear">
            Clear
        </button>
    </div>
</div>
<div class="showing-count">
    Showing: 53 results for <b>your search term</b>
</div>
<div class="search-results search-results--wrapper">
    <div class="search-results__item">
        <div class="search-results__item_header">
            Welcome To LegalDisclaimers
        </div>
        <div class="search-results__item_extract" id="a-text1">
            <p class="last-mod">Last modified on September 16, 2021, 06:41 PM</p>
            <!--cSpell:disable -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla ratione, optio aspernatur quisquam, distinctio vero adipisci maiores nihil fuga animi quis esse vitae commodi nam accusamus amet tempora magnam est.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam quas assumenda culpa recusandae soluta voluptatibus eveniet iste quam molestiae hic maxime nulla provident nesciunt eius esse eaque, nostrum nemo porro eligendi sequi. Rem amet, in labore facilis quae laudantium ab est quibusdam debitis voluptatem nisi vero accusantium error corrupti! Rem numquam nisi tenetur obcaecati accusamus cupiditate quia nam nostrum delectus natus doloremque magnam adipisci sapiente, nulla enim, ipsum quam, ut placeat impedit. Numquam aut officiis id perferendis porro soluta possimus et vero veritatis quae libero voluptate earum, hic saepe, omnis excepturi atque sapiente! Numquam et eligendi officiis porro nostrum facere!</p>
            <!--cSpell:enable -->
        </div>
        <div class="search-results__item_tags">
            <a href="#nogo" class="tag">Tag Name</a>
            <a href="#nogo" class="tag">Tag Name</a>
            <a href="#nogo" class="tag">Tag Name</a>
            <div class="search-results__item_buttons">
                <button class="copy-btn" data-clipboard-target="#a-text1">
                    <svg viewBox="0 0 24 24" width="24" height="24">
                        <path fill-rule="evenodd" d="M7.024 3.75c0-.966.784-1.75 1.75-1.75H20.25c.966 0 1.75.784 1.75 1.75v11.498a1.75 1.75 0 01-1.75 1.75H8.774a1.75 1.75 0 01-1.75-1.75V3.75zm1.75-.25a.25.25 0 00-.25.25v11.498c0 .139.112.25.25.25H20.25a.25.25 0 00.25-.25V3.75a.25.25 0 00-.25-.25H8.774z"></path>
                        <path d="M1.995 10.749a1.75 1.75 0 011.75-1.751H5.25a.75.75 0 110 1.5H3.745a.25.25 0 00-.25.25L3.5 20.25c0 .138.111.25.25.25h9.5a.25.25 0 00.25-.25v-1.51a.75.75 0 111.5 0v1.51A1.75 1.75 0 0113.25 22h-9.5A1.75 1.75 0 012 20.25l-.005-9.501z"></path>
                    </svg>
                </button>
                <button class="read-more">Show More</button>
            </div>
        </div>
    </div>
    <div class="search-results__item">
        <div class="search-results__item_header">
            Welcome To LegalDisclaimers
        </div>
        <div class="search-results__item_extract" id="a-text2">
            <p class="last-mod">Last modified on September 17, 2021, 06:41 PM</p>
            <p>Less than 300 characters including spaces. So the "show more" button is removed.</p>
        </div>
        <div class="search-results__item_tags">
            <a href="#nogo" class="tag">Tag Name</a>
            <a href="#nogo" class="tag">Tag Name</a>
            <a href="#nogo" class="tag">Tag Name</a>
            <div class="search-results__item_buttons">
                <button class="copy-btn" data-clipboard-target="#a-text2">
                    <svg viewBox="0 0 24 24" width="24" height="24">
                        <path fill-rule="evenodd" d="M7.024 3.75c0-.966.784-1.75 1.75-1.75H20.25c.966 0 1.75.784 1.75 1.75v11.498a1.75 1.75 0 01-1.75 1.75H8.774a1.75 1.75 0 01-1.75-1.75V3.75zm1.75-.25a.25.25 0 00-.25.25v11.498c0 .139.112.25.25.25H20.25a.25.25 0 00.25-.25V3.75a.25.25 0 00-.25-.25H8.774z"></path>
                        <path d="M1.995 10.749a1.75 1.75 0 011.75-1.751H5.25a.75.75 0 110 1.5H3.745a.25.25 0 00-.25.25L3.5 20.25c0 .138.111.25.25.25h9.5a.25.25 0 00.25-.25v-1.51a.75.75 0 111.5 0v1.51A1.75 1.75 0 0113.25 22h-9.5A1.75 1.75 0 012 20.25l-.005-9.501z"></path>
                    </svg>
                </button>
                <button class="read-more">Show More</button>
            </div>
        </div>
    </div>
    <div class="search-results__item">
        <div class="search-results__item_header">
            Welcome To LegalDisclaimers
        </div>
        <div class="search-results__item_extract" id="a-text3">
            <p class="last-mod">Last modified on September 18, 2021, 06:41 PM</p>
            <!--cSpell:disable -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla ratione, optio aspernatur quisquam, distinctio vero adipisci maiores nihil fuga animi quis esse vitae commodi nam accusamus amet tempora magnam est.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam quas assumenda culpa recusandae soluta voluptatibus eveniet iste quam molestiae hic maxime nulla provident nesciunt eius esse eaque, nostrum nemo porro eligendi sequi. Rem amet, in labore facilis quae laudantium ab est quibusdam debitis voluptatem nisi vero accusantium error corrupti! Rem numquam nisi tenetur obcaecati accusamus cupiditate quia nam nostrum delectus natus doloremque magnam adipisci sapiente, nulla enim, ipsum quam, ut placeat impedit. Numquam aut officiis id perferendis porro soluta possimus et vero veritatis quae libero voluptate earum, hic saepe, omnis excepturi atque sapiente! Numquam et eligendi officiis porro nostrum facere!</p>
            <!--cSpell:enable -->
        </div>
        <div class="search-results__item_tags">
            <a href="#nogo" class="tag">Tag Name</a>
            <a href="#nogo" class="tag">Tag Name</a>
            <a href="#nogo" class="tag">Tag Name</a>
            <div class="search-results__item_buttons">
                <button class="copy-btn" data-clipboard-target="#a-text3">
                    <svg viewBox="0 0 24 24" width="24" height="24">
                        <path fill-rule="evenodd" d="M7.024 3.75c0-.966.784-1.75 1.75-1.75H20.25c.966 0 1.75.784 1.75 1.75v11.498a1.75 1.75 0 01-1.75 1.75H8.774a1.75 1.75 0 01-1.75-1.75V3.75zm1.75-.25a.25.25 0 00-.25.25v11.498c0 .139.112.25.25.25H20.25a.25.25 0 00.25-.25V3.75a.25.25 0 00-.25-.25H8.774z"></path>
                        <path d="M1.995 10.749a1.75 1.75 0 011.75-1.751H5.25a.75.75 0 110 1.5H3.745a.25.25 0 00-.25.25L3.5 20.25c0 .138.111.25.25.25h9.5a.25.25 0 00.25-.25v-1.51a.75.75 0 111.5 0v1.51A1.75 1.75 0 0113.25 22h-9.5A1.75 1.75 0 012 20.25l-.005-9.501z"></path>
                    </svg>
                </button>
                <button class="read-more">Show More</button>
            </div>
        </div>
    </div>
    <div class="search-results__item">
        <div class="search-results__item_header">
            Welcome To LegalDisclaimers
        </div>
        <div class="search-results__item_extract" id="a-text4">
            <p class="last-mod">Last modified on September 16, 2021, 06:41 PM</p>
            <!--cSpell:disable -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla ratione, optio aspernatur quisquam, distinctio vero adipisci maiores nihil fuga animi quis esse vitae commodi nam accusamus amet tempora magnam est.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam quas assumenda culpa recusandae soluta voluptatibus eveniet iste quam molestiae hic maxime nulla provident nesciunt eius esse eaque, nostrum nemo porro eligendi sequi. Rem amet, in labore facilis quae laudantium ab est quibusdam debitis voluptatem nisi vero accusantium error corrupti! Rem numquam nisi tenetur obcaecati accusamus cupiditate quia nam nostrum delectus natus doloremque magnam adipisci sapiente, nulla enim, ipsum quam, ut placeat impedit. Numquam aut officiis id perferendis porro soluta possimus et vero veritatis quae libero voluptate earum, hic saepe, omnis excepturi atque sapiente! Numquam et eligendi officiis porro nostrum facere!</p>
            <!--cSpell:enable -->
        </div>
        <div class="search-results__item_tags">
            <a href="#nogo" class="tag">Tag Name</a>
            <a href="#nogo" class="tag">Tag Name</a>
            <a href="#nogo" class="tag">Tag Name</a>
            <div class="search-results__item_buttons">
                <button class="copy-btn" data-clipboard-target="#a-text4">
                    <svg viewBox="0 0 24 24" width="24" height="24">
                        <path fill-rule="evenodd" d="M7.024 3.75c0-.966.784-1.75 1.75-1.75H20.25c.966 0 1.75.784 1.75 1.75v11.498a1.75 1.75 0 01-1.75 1.75H8.774a1.75 1.75 0 01-1.75-1.75V3.75zm1.75-.25a.25.25 0 00-.25.25v11.498c0 .139.112.25.25.25H20.25a.25.25 0 00.25-.25V3.75a.25.25 0 00-.25-.25H8.774z"></path>
                        <path d="M1.995 10.749a1.75 1.75 0 011.75-1.751H5.25a.75.75 0 110 1.5H3.745a.25.25 0 00-.25.25L3.5 20.25c0 .138.111.25.25.25h9.5a.25.25 0 00.25-.25v-1.51a.75.75 0 111.5 0v1.51A1.75 1.75 0 0113.25 22h-9.5A1.75 1.75 0 012 20.25l-.005-9.501z"></path>
                    </svg>
                </button>
                <button class="read-more">Show More</button>
            </div>
        </div>
    </div>
    <div class="search-results__item">
        <div class="search-results__item_header">
            Welcome To LegalDisclaimers
        </div>
        <div class="search-results__item_extract" id="a-text5">
            <p class="last-mod">Last modified on September 16, 2021, 06:41 PM</p>
            <!--cSpell:disable -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla ratione, optio aspernatur quisquam, distinctio vero adipisci maiores nihil fuga animi quis esse vitae commodi nam accusamus amet tempora magnam est.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam quas assumenda culpa recusandae soluta voluptatibus eveniet iste quam molestiae hic maxime nulla provident nesciunt eius esse eaque, nostrum nemo porro eligendi sequi. Rem amet, in labore facilis quae laudantium ab est quibusdam debitis voluptatem nisi vero accusantium error corrupti! Rem numquam nisi tenetur obcaecati accusamus cupiditate quia nam nostrum delectus natus doloremque magnam adipisci sapiente, nulla enim, ipsum quam, ut placeat impedit. Numquam aut officiis id perferendis porro soluta possimus et vero veritatis quae libero voluptate earum, hic saepe, omnis excepturi atque sapiente! Numquam et eligendi officiis porro nostrum facere!</p>
            <!--cSpell:enable -->
        </div>
        <div class="search-results__item_tags">
            <a href="#nogo" class="tag">Tag Name</a>
            <a href="#nogo" class="tag">Tag Name</a>
            <a href="#nogo" class="tag">Tag Name</a>
            <div class="search-results__item_buttons">
                <button class="copy-btn" data-clipboard-target="#a-text5">
                    <svg viewBox="0 0 24 24" width="24" height="24">
                        <path fill-rule="evenodd" d="M7.024 3.75c0-.966.784-1.75 1.75-1.75H20.25c.966 0 1.75.784 1.75 1.75v11.498a1.75 1.75 0 01-1.75 1.75H8.774a1.75 1.75 0 01-1.75-1.75V3.75zm1.75-.25a.25.25 0 00-.25.25v11.498c0 .139.112.25.25.25H20.25a.25.25 0 00.25-.25V3.75a.25.25 0 00-.25-.25H8.774z"></path>
                        <path d="M1.995 10.749a1.75 1.75 0 011.75-1.751H5.25a.75.75 0 110 1.5H3.745a.25.25 0 00-.25.25L3.5 20.25c0 .138.111.25.25.25h9.5a.25.25 0 00.25-.25v-1.51a.75.75 0 111.5 0v1.51A1.75 1.75 0 0113.25 22h-9.5A1.75 1.75 0 012 20.25l-.005-9.501z"></path>
                    </svg>
                </button>
                <button class="read-more">Show More</button>
            </div>
        </div>
    </div>
    <div class="search-results__item">
        <div class="search-results__item_header">
            Welcome To LegalDisclaimers
        </div>
        <div class="search-results__item_extract" id="a-text6">
            <p class="last-mod">Last modified on September 16, 2021, 06:41 PM</p>
            <!--cSpell:disable -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla ratione, optio aspernatur quisquam, distinctio vero adipisci maiores nihil fuga animi quis esse vitae commodi nam accusamus amet tempora magnam est.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam quas assumenda culpa recusandae soluta voluptatibus eveniet iste quam molestiae hic maxime nulla provident nesciunt eius esse eaque, nostrum nemo porro eligendi sequi. Rem amet, in labore facilis quae laudantium ab est quibusdam debitis voluptatem nisi vero accusantium error corrupti! Rem numquam nisi tenetur obcaecati accusamus cupiditate quia nam nostrum delectus natus doloremque magnam adipisci sapiente, nulla enim, ipsum quam, ut placeat impedit. Numquam aut officiis id perferendis porro soluta possimus et vero veritatis quae libero voluptate earum, hic saepe, omnis excepturi atque sapiente! Numquam et eligendi officiis porro nostrum facere!</p>
            <!--cSpell:enable -->
        </div>
        <div class="search-results__item_tags">
            <a href="#nogo" class="tag">Tag Name</a>
            <a href="#nogo" class="tag">Tag Name</a>
            <a href="#nogo" class="tag">Tag Name</a>
            <div class="search-results__item_buttons">
                <button class="copy-btn" data-clipboard-target="#a-text6">
                    <svg viewBox="0 0 24 24" width="24" height="24">
                        <path fill-rule="evenodd" d="M7.024 3.75c0-.966.784-1.75 1.75-1.75H20.25c.966 0 1.75.784 1.75 1.75v11.498a1.75 1.75 0 01-1.75 1.75H8.774a1.75 1.75 0 01-1.75-1.75V3.75zm1.75-.25a.25.25 0 00-.25.25v11.498c0 .139.112.25.25.25H20.25a.25.25 0 00.25-.25V3.75a.25.25 0 00-.25-.25H8.774z"></path>
                        <path d="M1.995 10.749a1.75 1.75 0 011.75-1.751H5.25a.75.75 0 110 1.5H3.745a.25.25 0 00-.25.25L3.5 20.25c0 .138.111.25.25.25h9.5a.25.25 0 00.25-.25v-1.51a.75.75 0 111.5 0v1.51A1.75 1.75 0 0113.25 22h-9.5A1.75 1.75 0 012 20.25l-.005-9.501z"></path>
                    </svg>
                </button>
                <button class="read-more">Show More</button>
            </div>
        </div>
    </div>
    <div class="search-results__item">
        <div class="search-results__item_header">
            Welcome To LegalDisclaimers
        </div>
        <div class="search-results__item_extract" id="a-text7">
            <p class="last-mod">Last modified on September 16, 2021, 06:41 PM</p>
            <!--cSpell:disable -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla ratione, optio aspernatur quisquam, distinctio vero adipisci maiores nihil fuga animi quis esse vitae commodi nam accusamus amet tempora magnam est.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam quas assumenda culpa recusandae soluta voluptatibus eveniet iste quam molestiae hic maxime nulla provident nesciunt eius esse eaque, nostrum nemo porro eligendi sequi. Rem amet, in labore facilis quae laudantium ab est quibusdam debitis voluptatem nisi vero accusantium error corrupti! Rem numquam nisi tenetur obcaecati accusamus cupiditate quia nam nostrum delectus natus doloremque magnam adipisci sapiente, nulla enim, ipsum quam, ut placeat impedit. Numquam aut officiis id perferendis porro soluta possimus et vero veritatis quae libero voluptate earum, hic saepe, omnis excepturi atque sapiente! Numquam et eligendi officiis porro nostrum facere!</p>
            <!--cSpell:enable -->
        </div>
        <div class="search-results__item_tags">
            <a href="#nogo" class="tag">Tag Name</a>
            <a href="#nogo" class="tag">Tag Name</a>
            <a href="#nogo" class="tag">Tag Name</a>
            <div class="search-results__item_buttons">
                <button class="copy-btn" data-clipboard-target="#a-text7">
                    <svg viewBox="0 0 24 24" width="24" height="24">
                        <path fill-rule="evenodd" d="M7.024 3.75c0-.966.784-1.75 1.75-1.75H20.25c.966 0 1.75.784 1.75 1.75v11.498a1.75 1.75 0 01-1.75 1.75H8.774a1.75 1.75 0 01-1.75-1.75V3.75zm1.75-.25a.25.25 0 00-.25.25v11.498c0 .139.112.25.25.25H20.25a.25.25 0 00.25-.25V3.75a.25.25 0 00-.25-.25H8.774z"></path>
                        <path d="M1.995 10.749a1.75 1.75 0 011.75-1.751H5.25a.75.75 0 110 1.5H3.745a.25.25 0 00-.25.25L3.5 20.25c0 .138.111.25.25.25h9.5a.25.25 0 00.25-.25v-1.51a.75.75 0 111.5 0v1.51A1.75 1.75 0 0113.25 22h-9.5A1.75 1.75 0 012 20.25l-.005-9.501z"></path>
                    </svg>
                </button>
                <button class="read-more">Show More</button>
            </div>
        </div>
    </div>
    <div class="search-results__item">
        <div class="search-results__item_header">
            Welcome To LegalDisclaimers
        </div>
        <div class="search-results__item_extract" id="a-text8">
            <p class="last-mod">Last modified on September 16, 2021, 06:41 PM</p>
            <!--cSpell:disable -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla ratione, optio aspernatur quisquam, distinctio vero adipisci maiores nihil fuga animi quis esse vitae commodi nam accusamus amet tempora magnam est.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam quas assumenda culpa recusandae soluta voluptatibus eveniet iste quam molestiae hic maxime nulla provident nesciunt eius esse eaque, nostrum nemo porro eligendi sequi. Rem amet, in labore facilis quae laudantium ab est quibusdam debitis voluptatem nisi vero accusantium error corrupti! Rem numquam nisi tenetur obcaecati accusamus cupiditate quia nam nostrum delectus natus doloremque magnam adipisci sapiente, nulla enim, ipsum quam, ut placeat impedit. Numquam aut officiis id perferendis porro soluta possimus et vero veritatis quae libero voluptate earum, hic saepe, omnis excepturi atque sapiente! Numquam et eligendi officiis porro nostrum facere!</p>
            <!--cSpell:enable -->
        </div>
        <div class="search-results__item_tags">
            <a href="#nogo" class="tag">Tag Name</a>
            <a href="#nogo" class="tag">Tag Name</a>
            <a href="#nogo" class="tag">Tag Name</a>
            <div class="search-results__item_buttons">
                <button class="copy-btn" data-clipboard-target="#a-text8">
                    <svg viewBox="0 0 24 24" width="24" height="24">
                        <path fill-rule="evenodd" d="M7.024 3.75c0-.966.784-1.75 1.75-1.75H20.25c.966 0 1.75.784 1.75 1.75v11.498a1.75 1.75 0 01-1.75 1.75H8.774a1.75 1.75 0 01-1.75-1.75V3.75zm1.75-.25a.25.25 0 00-.25.25v11.498c0 .139.112.25.25.25H20.25a.25.25 0 00.25-.25V3.75a.25.25 0 00-.25-.25H8.774z"></path>
                        <path d="M1.995 10.749a1.75 1.75 0 011.75-1.751H5.25a.75.75 0 110 1.5H3.745a.25.25 0 00-.25.25L3.5 20.25c0 .138.111.25.25.25h9.5a.25.25 0 00.25-.25v-1.51a.75.75 0 111.5 0v1.51A1.75 1.75 0 0113.25 22h-9.5A1.75 1.75 0 012 20.25l-.005-9.501z"></path>
                    </svg>
                </button>
                <button class="read-more">Show More</button>
            </div>
        </div>
    </div>
    <div class="search-results__item">
        <div class="search-results__item_header">
            Welcome To LegalDisclaimers
        </div>
        <div class="search-results__item_extract" id="a-text9">
            <p class="last-mod">Last modified on September 16, 2021, 06:41 PM</p>
            <!--cSpell:disable -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla ratione, optio aspernatur quisquam, distinctio vero adipisci maiores nihil fuga animi quis esse vitae commodi nam accusamus amet tempora magnam est.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam quas assumenda culpa recusandae soluta voluptatibus eveniet iste quam molestiae hic maxime nulla provident nesciunt eius esse eaque, nostrum nemo porro eligendi sequi. Rem amet, in labore facilis quae laudantium ab est quibusdam debitis voluptatem nisi vero accusantium error corrupti! Rem numquam nisi tenetur obcaecati accusamus cupiditate quia nam nostrum delectus natus doloremque magnam adipisci sapiente, nulla enim, ipsum quam, ut placeat impedit. Numquam aut officiis id perferendis porro soluta possimus et vero veritatis quae libero voluptate earum, hic saepe, omnis excepturi atque sapiente! Numquam et eligendi officiis porro nostrum facere!</p>
            <!--cSpell:enable -->
        </div>
        <div class="search-results__item_tags">
            <a href="#nogo" class="tag">Tag Name</a>
            <a href="#nogo" class="tag">Tag Name</a>
            <a href="#nogo" class="tag">Tag Name</a>
            <div class="search-results__item_buttons">
                <button class="copy-btn" data-clipboard-target="#a-text9">
                    <svg viewBox="0 0 24 24" width="24" height="24">
                        <path fill-rule="evenodd" d="M7.024 3.75c0-.966.784-1.75 1.75-1.75H20.25c.966 0 1.75.784 1.75 1.75v11.498a1.75 1.75 0 01-1.75 1.75H8.774a1.75 1.75 0 01-1.75-1.75V3.75zm1.75-.25a.25.25 0 00-.25.25v11.498c0 .139.112.25.25.25H20.25a.25.25 0 00.25-.25V3.75a.25.25 0 00-.25-.25H8.774z"></path>
                        <path d="M1.995 10.749a1.75 1.75 0 011.75-1.751H5.25a.75.75 0 110 1.5H3.745a.25.25 0 00-.25.25L3.5 20.25c0 .138.111.25.25.25h9.5a.25.25 0 00.25-.25v-1.51a.75.75 0 111.5 0v1.51A1.75 1.75 0 0113.25 22h-9.5A1.75 1.75 0 012 20.25l-.005-9.501z"></path>
                    </svg>
                </button>
                <button class="read-more">Show More</button>
            </div>
        </div>
    </div>

</div>
<div class="igx-pagination">
    <ul>
        <li class="disabled">
            <a href="#nogo" aria-label="Jump back to page one.">
                <svg width="16" height="16" fill="currentColor" class="bi bi-chevron-bar-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.854 3.646a.5.5 0 0 1 0 .708L8.207 8l3.647 3.646a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708 0zM4.5 1a.5.5 0 0 0-.5.5v13a.5.5 0 0 0 1 0v-13a.5.5 0 0 0-.5-.5z" />
                </svg>
            </a>
        </li>
        <li class="disabled">
            <a href="#nogo" aria-label="Previous page.">
                <svg width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                </svg>
            </a>
        </li>
        <li class="current">
            <a href="#nogo">1</a>
        </li>
        <li>
            <a href="#nogo">2</a>
        </li>
        <li>
            <a href="#nogo">3</a>
        </li>
        <li>
            <a href="#nogo">4</a>
        </li>
        <li>
            <a href="#nogo">5</a>
        </li>
        <li>
            <a href="#nogo" aria-label="Jump to next group">
                <svg width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                </svg>
            </a>
        </li>
        <li>
            <a href="#nogo" aria-label="Next page.">
                <svg width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </a>
        </li>
        <li>
            <a href="#nogo" aria-label="Jump back to last page.">
                <svg width="16" height="16" fill="currentColor" class="bi bi-chevron-bar-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.146 3.646a.5.5 0 0 0 0 .708L7.793 8l-3.647 3.646a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708 0zM11.5 1a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-1 0v-13a.5.5 0 0 1 .5-.5z" />
                </svg>
            </a>
        </li>
    </ul>
</div>